<div class="d-flex justify-content-between mt-1">
	<h4>Преобразователи</h4>
	<button (click)="onNewConnector.emit()" class="btn btn-sm run-script">
		<i class="material-icons" style="vertical-align: -4px">add</i>
	</button>
</div>

<p class="text-muted mb-4">
	Изменяют текст в зависимости от типа (например, меняют личные местоимения на 3 лицо).
	Используйте сочетания клавиш, чтобы применить их к выделенному тексту (сначала скопируйте в буфер с помощью Ctrl-C).
	<br/><br/>Вы так же можете воспользоваться подробным анализом, чтобы детально увидеть, как преобразуется текст. При выключении преобразователя сочетние клавиш работать не будет.
</p>

<div *ngFor="let connector of service.settings.connectors" class="card mb-4" [class.active-border]="connector.enabled">
	<div class="card-header d-flex justify-content-between" [class.alert-info]="connector.enabled">
		<b class="w-50 card-title">
			<span *ngIf="connector.type === 'FIRST_TO_THIRD'">Первое лицо в третье лицо</span>
			<span *ngIf="connector.type === 'GRAMMA'">Исправление грамматических ошибок</span>
		</b>
		<span>
			<a (click)="editConnector(connector)" class="hover-opacity ml-2" title="Редактировать">
				<i class="material-icons text-info">edit</i>
			</a>
			<a (click)="deleteConnector(connector)" class="hover-opacity ml-2" title="Удалить">
				<i class="material-icons text-danger">delete</i>
			</a>
		</span>
	</div>
	<div class="card-body py-3" [class.active-bg]="connector.enabled">

		<div class="row">
			<div class="col-6">
				<h5 [class.text-muted]="!connector.enabled">Ctrl+C, затем {{getItemShortcut(connector)}}</h5>
			</div>
			<div class="col-4">
				<div>
					<a (click)="testConnector(connector)" class="btn btn-outline-primary btn-sm">Подробный анализ текста</a>
				</div>
			</div>
			<div class="col-2 pt-2">
				<a *ngIf="connector.enabled" (click)="toggleConnector(connector, false)" href="#" class="text-danger hover-opacity">Отключить</a>
				<a *ngIf="!connector.enabled" (click)="toggleConnector(connector, true)" href="#" class="text-success hover-opacity">Включить</a>
			</div>
		</div>
		<!--<div class="d-flex">
			<div class="w-50">Сочетание клавиш:</div>
			<div class="w-50 text-muted text-nowrap overflow-hidden">Ctrl+C, затем {{getItemShortcut(connector)}}</div>
		</div>-->
		<!--<div class="d-flex">
			<div class="w-50">Действие:</div>
			<div class="w-50">
				<span *ngIf="connector.type === 'FIRST_TO_THIRD'">Первое лицо в третье лицо</span>
				<span *ngIf="connector.type === 'GRAMMA'">Орфография</span>
			</div>
		</div>-->

		<!--<div class="d-flex">
			<div class="w-50"></div>
			<div class="w-50">
				<a (click)="toggleConnector(connector, false)" href="#" class="text-primary hover-opacity">Перейти к подробному анализу</a>
			</div>
		</div>

		<div class="d-flex mt-3">
			<div class="w-50"></div>
			<div class="w-50">
				<a *ngIf="connector.enabled" (click)="toggleConnector(connector, false)" href="#" class="text-danger hover-opacity">Выключить сочетание клавиш</a>
				<a *ngIf="!connector.enabled" (click)="toggleConnector(connector, true)" href="#" class="text-success hover-opacity">Включить сочетание клавиш</a>
			</div>
		</div>-->

	</div>
</div>

<div *ngIf="service.settings.connectors.length === 0" class="text-muted">
	Преобразователей ещё нет. Добавьте первый.
</div>
